{
  "root": true,
  "env": {
    "jest": true,
    "node": true
  },
  "extends": "airbnb-base",
  "globals": {
    "request": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "import"
  ],
  "rules": {
    "comma-dangle": "off",
    "import/extensions": [
      "off",
      "never"
    ],
    "import/no-extraneous-dependencies": "off",
    "no-console": "warn",
    "no-param-reassign": "error",
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "array": true,
          "object": true
        },
        "AssignmentExpression": {
          "array": true,
          "object": false
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}